body {
    background-color: #000;
    color:rgb(255, 0, 0);
    left: 0;
    line-height: 20px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

};



